/*////// Main page footer /////////*/

.footer-main-page{
    position: fixed;
    display: flex;
    width: 100%;
    min-width: 100%;
    bottom: 38px;
    top:auto;
    background-color: var(--header-fon);
  }
  
    .telephone{
      width: 100%;
      min-width: 100%;
      color: #ffffff;
      font-family: "Playfair Display", serif;
      font-style: italic;
      font-weight: bold;
      font-variant-numeric: oldstyle-nums;
      font-size: 16px;
      letter-spacing: 1.2px;
      text-align: center;
      padding-left: 15px;
    }
  
    
  /*////// Main page footer end /////////*/